@model CSC.Models.TipoAtendimentoModel
@{
    ViewData["Title"] = "Tipo de Atendimento";
}
<div class="row m-0">
    <div class="row">
        <h1 class="h-100 text-center">
            Tipo de Atendimento
        </h1>
    </div>
    <div class="row">
        <div class="col-1">
            <input type="button" id="btnVoltar" class="btn btn-info" style="background-color:white" value="Voltar" />
        </div>
        <div class="col-1">
            <input type="button" id="btnCadastrar" class="btn btn-success margin-left" value="Cadastrar" />
        </div>
    </div>

    <div class="row row-head-panel margin-top">
        <div class="col-11">
            <h3 class="h3">Cadastro</h3>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-2 align-content-right">
            @Html.LabelFor(model => model.TipoServico)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.TipoServico, new { @class = "form-control" })
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-2 align-content-right">
            @Html.LabelFor(model => model.Categoria.Categoria)
        </div>
        <div class="col-md-4">
            @{
                List<SelectListItem> listCategoria = new List<SelectListItem>();
                listCategoria.Add(new SelectListItem("PECUS", "1"));
                listCategoria.Add(new SelectListItem("SENIOR", "2"));
                listCategoria.Add(new SelectListItem("BI", "3"));
                listCategoria.Add(new SelectListItem("INFRAESTRUTURA", "4"));
            }
            @Html.DropDownListFor(model => model.Categoria, listCategoria, "Categoria", new { @class = "form-control" })
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-2 align-content-right">
            @Html.LabelFor(model => model.Nivel)
        </div>
        <div class="col-md-4">
            @{
                List<SelectListItem> listNiveis = new List<SelectListItem>();
                listNiveis.Add(new SelectListItem("NIVEL1", "1"));
                listNiveis.Add(new SelectListItem("NIVEL2", "2"));
                listNiveis.Add(new SelectListItem("NIVEL3", "3"));
                listNiveis.Add(new SelectListItem("NIVEL4", "4"));
            }
            @Html.DropDownListFor(model => model.Nivel, listNiveis, "Nível", new { @class = "form-control" })
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-2 align-content-right">
            @Html.LabelFor(model => model.Depto):
        </div>
        <div class="col-md-4">
            @{
                List<SelectListItem> listDepartamento = new List<SelectListItem>();
                listDepartamento.Add(new SelectListItem("TECNOLOGIA", "1"));
                listDepartamento.Add(new SelectListItem("FICAL", "2"));
                listDepartamento.Add(new SelectListItem("RECURSOS HUMANOS", "3"));
                listDepartamento.Add(new SelectListItem("LOGÍSTICA", "4"));
            }
            @Html.DropDownListFor(model => model.Depto, listDepartamento, "Departamento", new { @class = "form-control" })
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-2 align-content-right">
            @Html.LabelFor(model => model.PrazoAtendimento)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.PrazoAtendimento, new { @class = "form-control" })
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-2 align-content-right">
            @Html.LabelFor(model => model.Ativo):
        </div>
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.Ativo, new { @class = "form-check-input" })
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-2 align-content-right">
            @Html.LabelFor(model => model.VisivelSelecao):
        </div>
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.VisivelSelecao, new { @class = "form-check-input" })
        </div>
    </div>
    <hr class="margin-top" />
    <div class="row">
        <div class="col-md-1">
            <input type="button" id="btnSalvar" class="btn btn-primary" value="Salvar" />
        </div>
    </div>

</div>
