@model CSC.Models.DiretoriaModel
@{
    ViewData["Title"] = "Diretoria";
}

<div class="row m-0">
    <div class="row">
        <h1 class="h-100 text-center">
            Diretorias
        </h1>
    </div>
    <div class="row row-head-panel margin-top">
        <div class="col-11">
            <h3 class="h3">Cadastro</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-1 align-content-right">
            @Html.LabelFor(model => model.Diretoria):
        </div>
        <div class="col-4">
            @Html.TextBoxFor(model => model.Diretoria, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-1 align-content-right">
            @Html.LabelFor(model => model.Ativo):
        </div>
        <div class="col-4">
            @Html.CheckBoxFor(model => model.Ativo, new { @class = "form-check-input" })
        </div>
        <div class="col-2">
            <input type="button" id="btnSalvar" value="Salvar" class="btn btn-success" />
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        var mockList = new List<String>();
                        mockList.Add("Descrição");
                        mockList.Add("Situação");
                        mockList.Add("");

                        @foreach (var item in mockList)
                        {
                            <td>@item</td>
                        }
                        <td></td>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    var mockList2 = new List<DiretoriaModel>();
                    mockList2.Add(new DiretoriaModel
                    {
                        CodDiretoria = 1,
                        Diretoria = "ADMINISTRATIVA",
                        Ativo = true
                    });
                    mockList2.Add(new DiretoriaModel
                    {
                        CodDiretoria = 2,
                        Diretoria = "PRESIDENCIA",
                        Ativo = true
                    });
                    mockList2.Add(new DiretoriaModel
                    {
                        CodDiretoria = 3,
                        Diretoria = "INDUSTRIAL",
                        Ativo = true
                    });
                    mockList2.Add(new DiretoriaModel
                    {
                        CodDiretoria = 4,
                        Diretoria = "COMERCIAL",
                        Ativo = false
                    });


                    foreach (var item in mockList2)
                    {
                        <tr>

                            <td>
                                @item.Diretoria
                            </td>
                            <td>
                                @{var ativo = item.Ativo ? "Ativo" : "Inativo";
                                    var cssclass = item.Ativo ? "bg-success" : "bg-warning";}

                                <span class="@cssclass text-white" style="padding-left:8px; padding-right:8px; border-radius:20px">@ativo</span>
                            </td>
                            <td>
                                <input type="button" id="btnEditar" value="Editar" class="btn btn-primary" />
                                <input type="button" id="btnRemover" value="Excluir" class="btn btn-danger" />
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>