@model CSC.Models.NivelAtendimentoModel
@{
    ViewData["Title"] = "Nível Atendimento";
}

<div class="row m-0">
    <div class="row">
        <h1 class="h-100 text-center">
            Nível de Atendimento
        </h1>
    </div>
    <div class="row row-head-panel margin-top">
        <div class="col-md-11">
            <h3 class="h3">Cadastro</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 align-content-right">
            @Html.LabelFor(model => model.Nivel):
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Nivel, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 align-content-right">
            @Html.LabelFor(model => model.Ativo):
        </div>
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.Ativo, new { @class = "form-check-input" })
        </div>
        <div class="col-md-2">
            <input type="button" id="btnSalvar" value="Salvar" class="btn btn-success" />
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        var mockList = new List<String>();
                        mockList.Add("Descrição");
                        mockList.Add("Situação");
                        mockList.Add("");

                        @foreach (var item in mockList)
                        {
                            <td>@item</td>
                        }
                        <td></td>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    var mockList2 = new List<NivelAtendimentoModel>();
                    mockList2.Add(new NivelAtendimentoModel
                    {
                        CodNivel = 1,
                        Nivel = "NIVEL 01",
                        Ativo = true
                    });
                    mockList2.Add(new NivelAtendimentoModel
                    {
                        CodNivel = 2,
                        Nivel = "NIVEL 02",
                        Ativo = true
                    });
                    mockList2.Add(new NivelAtendimentoModel
                    {
                        CodNivel = 3,
                        Nivel = "NIVEL 03",
                        Ativo = true
                    });
                    mockList2.Add(new NivelAtendimentoModel
                    {
                        CodNivel = 4,
                        Nivel = "NIVEL 04",
                        Ativo = false
                    });


                    foreach (var item in mockList2)
                    {
                        <tr>

                            <td>
                                @item.Nivel
                            </td>
                            <td>
                                @{var ativo = item.Ativo ? "Ativo" : "Inativo";
                                    var cssclass = item.Ativo ? "bg-success" : "bg-warning";}

                                <span class="@cssclass text-white" style="padding-left:8px; padding-right:8px; border-radius:20px">@ativo</span>
                            </td>
                            <td>
                                <input type="button" id="btnEditar" value="Editar" class="btn btn-primary" />
                                <input type="button" id="btnRemover" value="Excluir" class="btn btn-danger" />
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>

