@model  CSC.Models.DepartamentoModel
@{
    ViewData["Title"] = "Departamento";
}

<div class="row m-0">
    <div class="row">
        <h1 class="h-100 text-center">
            Departamento
        </h1>
    </div>
    <div class="row row-head-panel margin-top">
        <div class="col-11">
            <h3 class="h3">Cadastro</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 align-content-right">
            @Html.LabelFor(model => model.Departamento):
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Departamento, new { @class = "form-control" })
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-1 align-content-right">
            @Html.LabelFor(model => model.Diretoria.Diretoria):
        </div>
        <div class="col-md-4">
            @{ 
                List<SelectListItem> listDiretoria = new List<SelectListItem>();
                listDiretoria.Add(new SelectListItem("ADMINISTRATIVA", "1"));
                listDiretoria.Add(new SelectListItem("PRESIDENCIA", "2"));
                listDiretoria.Add(new SelectListItem("INDUSTRIAL", "3"));
                listDiretoria.Add(new SelectListItem("COMERCIAL", "4"));
            }
            @Html.DropDownListFor(model => model.Diretoria, listDiretoria, "Diretoria", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 align-content-right">
            @Html.LabelFor(model => model.Ativo):
        </div>
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.Ativo, new { @class = "form-check-input" })
        </div>
        <div class="col-md-2">
            <input type="button" id="btnSalvar" value="Salvar" class="btn btn-success" />
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        var mockList = new List<String>();
                        mockList.Add("Descrição");
                        mockList.Add("Diretoria");
                        mockList.Add("Situação");
                        mockList.Add("");

                        @foreach (var item in mockList)
                        {
                            <td>@item</td>
                        }
                        <td></td>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    var mockList2 = new List<DepartamentoModel>();
                    mockList2.Add(new DepartamentoModel
                    {
                        CodDepto = 1,
                        Departamento = "LOGÍSTICA",
                        Diretoria = new DiretoriaModel { CodDiretoria = 1, Diretoria = "Administrativa"},
                        Ativo = true
                    });
                    mockList2.Add(new DepartamentoModel
                    {
                        CodDepto = 2,
                        Departamento = "CONTROLADORIA",
                        Diretoria = new DiretoriaModel { CodDiretoria = 1, Diretoria = "Administrativa" },
                        Ativo = true
                    });
                    mockList2.Add(new DepartamentoModel
                    {
                        CodDepto = 3,
                        Departamento = "FISCAL",
                        Diretoria = new DiretoriaModel { CodDiretoria = 1, Diretoria = "Administrativa" },
                        Ativo = true
                    });
                    mockList2.Add(new DepartamentoModel
                    {
                        CodDepto = 4,
                        Departamento = "RECURSOS HUMANOS",
                        Diretoria = new DiretoriaModel { CodDiretoria = 2, Diretoria = "Presidência" },
                        Ativo = false
                    });


                    foreach (var item in mockList2)
                    {
                                <tr>

                                    <td>
                                        @item.Departamento
                                    </td>
                                    <td>
                                        @item.Diretoria.Diretoria
                                    </td>
                                    <td>
                                        @{var ativo = item.Ativo ? "Ativo" : "Inativo";
                                            var cssclass = item.Ativo ? "bg-success" : "bg-warning";}

                                        <span class="@cssclass text-white" style="padding-left:8px; padding-right:8px; border-radius:20px">@ativo</span>
                                    </td>
                                    <td>
                                        <input type="button" id="btnEditar" value="Editar" class="btn btn-primary" />
                                        <input type="button" id="btnRemover" value="Excluir" class="btn btn-danger" />
                                    </td>
                                </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
